.cache
.git
.python*
.sudo*
.local
.oh-my-zsh
.ssh
.bash*
.gitconfig
.profile
.wget-hsts
.zcomp*
.zsh_history
.zshrc.pre*
*.desktop
.nvm
.npm
.vim/plugged
.viminfo
tmp
.fzf
.fzf*
.netrw*
.redo
test.do
